---
layout: page
title: Archive
---
{% for post in site.posts %}
  {% capture currentyear %}{{post.date | date: "%B %Y"}}{% endcapture %}
  {% capture linkyear %}{{post.date | date: "%b%Y"}}{% endcapture %}
  {% if currentyear != year %}
    {% unless forloop.first %}</div>{% endunless %}
    <h3><a id={{linkyear}}>{{ currentyear }}</a></h3>
    <div class="list-group">
    {% capture year %}{{currentyear}}{% endcapture %} 
  {% endif %}
    <a href="{{ post.url }}" class="list-group-item">{{ post.title }}</a>
{% endfor %}
</div>