---
layout: default
title: Home
---

{% for post in paginator.posts %}
  <div class="blog-post">
    <h2 class="blog-post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <p class="blog-post-meta">{{ post.date | date_to_string }}</p>

    {{ post.content | truncatewords:75}}
  </div>
{% endfor %}

<nav>
  {% if paginator.next_page %}
	<a class="button radius" href="{{ site.baseurl }}page{{paginator.next_page}}">Previous</a>
  {% else %}
	<a class="button radius" href="#">Previous</a>
  {% endif %}
  {% if paginator.previous_page %}
	{% if paginator.page == 2 %}
	  <a class="button radius" href="{{ site.baseurl }}">Next</a>
	{% else %}
	  <a class="button radius" href="{{ site.baseurl }}page{{paginator.previous_page}}">Next</a>
	{% endif %}
  {% else %}
	<a class="button radius" href="#">Next</a>
  {% endif %}
</nav>
