<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
  
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                {% if page.url == node.url %}
                    <a class="blog-nav-item active" href="{{site.baseurl}}">{{site.title}}</a>
                {% else %}
                    <a class="blog-nav-item" href="{{site.baseurl}}">{{site.title}}</a>
                {% endif %}
                {% include navigation_pages %}
            </nav>
        </div>
    </div>

    <div class="container">
      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>

  </body>
</html>
