<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
  
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                {% if page.url == node.url %}
                    <a class="blog-nav-item active" href="{{site.baseurl}}">{{site.title}}</a>
                {% else %}
                    <a class="blog-nav-item" href="{{site.baseurl}}">{{site.title}}</a>
                {% endif %}
                {% include navigation_pages %}
            </nav>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
            {{ content }}
        </div>
        
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>
                <p>Some text in a sidebar</p>
            </div>
            <div class="sidebar-module">
                <h4>Archives</h4>
                <ol class="list-unstyled">
                    {% for post in site.posts %}
                        {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
                        {% if currentyear != year %}
                            <li><a href="/archive#{{ currentyear }}">{{ currentyear }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
        </div>
      </div>

      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>

  </body>
</html>
